body {
  margin: 0;
  padding-left: 0;
  background-color: #fff;
  height: 100%;
  background-image: url(../img.png);
  background-color: #e1c5bc;
}

.headpage {
  margin: 0px;
  background-color: salmon;
}
.menu {
  width: 100%;
  background: #262626;
  overflow: auto;
  margin-bottom: 20px;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 61px;
}
.menu li {
  float: left;
}
.menu ul li a {
  background-color: blue;
  text-decoration: none;
  width: 130px;
  display: block;
  text-align: center;
  color: blue font-family- sans-serif;
  letter-spacing: 0.5%;
  font-weight: bold;
  color: white;
}
.menu li a:hover {
  color: red;
  opacity: 0.5;
  font-size: 19px;
}

.front {
  margin: auto;
  padding: 0px;
  border: 0px solid black;
  width: 99%;
  height: 95vh;
  background-color: white;
}
#img {
  width: 740px;
  height: 500px;
  padding: 36px;
  border-radius: 60%;
}
.frontbox > h1 {
  text-align: center;
}
#f > h6 {
  color: #ffffff;
  text-align: left;
  margin-top: 500px;
}
